.group-grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: minmax(min-content, max-content);
}

.group-grid .axis.viewport.x {
    grid-column-start: 2;
    grid-column-end: 3;
}

.group-grid .axis.viewport.main {
    z-index: 1;
}

.group-grid .axis.viewport.tooltip {
    z-index: 2;
}

.group-grid .axis.viewport.x.tooltip {
    cursor: ew-resize;
}

.group-grid .axis-placeholder {
    grid-column-start: 1;
    grid-column-end: 2;
}

.group-grid .group-tooltip {
    grid-column-start: 2;
    grid-column-end: 3;

    z-index: 3;

    cursor: crosshair;
}

.group-grid .group-tooltip:active {
    cursor: grabbing;
}
