.axesSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.axesSettings .objectTree, .axesGroupSettings .groupObjectTreeElement .objectTree {
    margin: 0;
    padding: 0;
    list-style: none;
}

.axesSettings .objectTreeElement, .axesGroupSettings .groupObjectTreeElement .objectTreeElement {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.objectTree {
    width: 100%;
}

.objectTreeElement tr td {
    padding: 0 0 0 0;
    text-align: left;
    vertical-align: middle;
}
