.group-settings {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 2;
}

.group-settings svg {
    cursor: pointer;
}

.group.object-tree {
    padding: 0;
    list-style: none;
}

.settings-header {
    font-weight: bold;
}

.group.component-grid {
    width: 150px;
}

.group.component-grid .grid-tile {
    grid-column-start: 1;
    grid-column-end: 2;
}
